<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='test.js'></script>
</head>
<body>
    <script>
        for (var i = 0; i < 10; i++) {
            let element = document.createElement('audio');
            element.src = 'audio.mp3';
            document.body.appendChild(element);
        }
    </script>
</body>
</html>